fastapi
uvicorn[standard]
boto3
opentelemetry-instrumentation-fastapi
opentelemetry-sdk 
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-requests
opentelemetry-sdk-extension-aws
opentelemetry-propagator-aws-xray
opentelemetry-instrumentation-botocore
